*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
/target/
sonar-project.properties
.project
.settings/org.sonar.ide.eclipse.core.prefs
.sonar/.sonartmp/caches/persistit_tempvol_6597845038511752147.tmp
.project
